<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
</head>
<body>
    <h1>Welcome, {{ current_user.username }}</h1>
    <h2>Chat Rooms</h2>
    <form method="POST" action="{{ url_for('chat.chat') }}">
        <input type="text" name="room_name" placeholder="Enter Room Name">
        <button type="submit">Create or Join Room</button>
    </form>
    <ul>
        {% for room in rooms %}
        <li><a href="{{ url_for('chat.room', room_name=room.name) }}">{{ room.name }}</a></li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('auth.logout') }}" method="POST">
        <button class="btn btn-danger">Logout</button>
    </form>
</body>
</html>
